*{
    margin: 0;
    padding: 0;
}
body{
    /* background: color #bec3c9;  */
    background: rgb(0 0 0 / 10%);
}
.main_container{
    width: 100%;
    background: color #bec3c9;
    /* border: 1px solid red; */
}
.hreader{
    /* border: 1px solid red;  */
    padding: 20px;
    text-align: center;
    font-size: 30px;
    /* font-weight: 900; */
    color: blue;
}
.content{
    margin: 0 auto;
    border: 1px solid #ccc; 
    border-radius: 10px;
    background: white;
    
    width: 500px;
    height: 500px;
}
.create{
    border-bottom: 1px solid wheat; 
    padding: 10px;
    text-align: center;
    
}
.form{
    display: flex;
    flex-direction: column;
    justify-content: center ;
    align-items: center;
}
input[type=text] {
    width: 178px;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
}
.child1 [type=text]{
    width: 400px;
}
.child1 [type=password]{
    width: 400px;
    padding: 12px 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
}
select{
    margin: 8px 0;
    width: 144px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;

}
input[type=radio] {
    width: 100px;
    /* border: 1px solid red; */
}
button{

    padding: 8px;
    background-color:green ;
    color: wheat;
    font-size: 20px;
    width: 200px;
    text-align: center;
    border-radius: 4px;

}
.child3{
    display: flex;
    justify-content: center;
    margin: 8px 0;
}
i{
    font-size: 12px;
    border: 1px solid #ccc;
    border-radius: 20px;
    background: rgb(0 0 0 / 10%);
}
#DIV1{
    w
}

